input:valid {
    border-bottom: 1px solid rgb(9, 150, 56);
}

body {
    font-family: 'Inter', Helvetica, sans-serif;
    background-color: rgb(31, 31, 31);
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.login_section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(180deg, rgb(31, 31, 31)70%, rgba(11, 72, 100, 0.473));
    color: rgb(0, 110, 255);
    padding: 30px;
    height: fit-content;
    width: 240px;
    border-radius: 5px;
    box-shadow: 0 15px 33px rgba(0, 0, 0, 0.6);
    transition: 0.5s ease;
}

.login_section:hover {
    width: 270px;

    .login_button {
        height: 35px;
    }

    input {
        height: 35px;
    }
}

.forgot {
    display: flex;
    font-size: 12px;
    text-decoration: none;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    width: 100%;

    a {
        text-decoration: none;
        color: rgb(133, 187, 218);
    }

    a:hover {
        text-decoration: underline;
    }
}

input {
    margin-bottom: 10px;
    border-radius: 5px;
    height: 25px;
    border: none;
    width: 100%;
    background-color: rgb(46, 46, 46);
    transition: 0.2s ease;
    color: white;
    padding-left: 6px;
    padding-right: 6px;
    box-sizing: border-box;


}

input:focus {
    border: none;
    transform: translateY(-5px);
    outline: none;
    box-shadow: 0 3px 0px 0 rgb(0, 110, 255);
}

h1 {
    font-size: 2.2rem;
}

.login_button {
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: none;
    color: white;
    background: linear-gradient(90deg, rgb(0, 110, 255), rgb(11, 60, 100));
    transition: 0.3s ease;
    cursor: pointer;
}

.login_button:hover {
    transform: scale(1.05);
    border: none;
    color: white;
    background: linear-gradient(90deg, rgb(0, 110, 255), rgb(11, 60, 100));
    box-shadow: 0 0px 20px 0 rgba(14, 139, 255, 0.3);
}