body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.page{
    width: 100%;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100px;
    font-family: 'Inter';
}

.header__logo{
    display: flex;
    width: 80px;
    height: 80px;
}

.header__nav{
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

.header__search{
    padding: 0.5rem;
    border-radius: 7px;
    width: 20%;
    height: 20px;
}

.banner{
    height: 700px;
    background-image: url(../assets/Roupas3.jpg);
    filter: brightness(0.4);
}

