input:valid {
    border-bottom: 1px solid rgb(9, 150, 56);
}

body{
    font-family: 'Inter', Helvetica, sans-serif;
    background-color: #f8f8f8;
    padding: 0;
    box-sizing: border-box;
    overflow-y: hidden;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    
}

.login_section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: white;
    color: #FF69B4;
    padding: 30px;
    height: fit-content;
    width: 240px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    transition: 0.5s ease;
}

.login_section:hover{
    width: 260px;
    
    .login_button{
        height: 35px;
    }
    input{
        height: 35px;
    }


}

.forgot{
    display: flex;
    font-size: 12px;
    text-decoration: none;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    width: 100%;
    
    a{
        text-decoration: none;
        color: #87CEEB;
    }
    a:hover{
        text-decoration: underline;
    }
}

input{
    box-sizing: border-box;
    margin-bottom: 10px;
    border-radius: 8px;
    height: 25px;
    border: 1px solid #e0e0e0;
    width: 100%;
    background-color: white;
    transition: 0.2s ease;
    color: #333;
    padding-left: 6px;
    padding-right: 6px;
    

}

input:focus{
    border: 1px solid #FF69B4;
    transform: translateY(-2px);
    outline: none;
    box-shadow: 0 3px 8px rgba(255, 105, 180, 0.2);
}

h1{
    font-size: 2.2rem;
}

.login_button{
    width: 100%;
    height: 30px;
    border-radius: 8px;
    border: none;
    color: white;
    background: linear-gradient(45deg, #FF69B4, #87CEEB);
    transition: 0.3s ease;
    cursor: pointer;
}
.login_button:hover{
    transform: translateY(-2px);
    box-shadow: 0 4px 15px rgba(255, 105, 180, 0.3);
}